<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/allMembers.css" />
  </head>
  <body class="with-background">
    <%- include('partials/header') %>
    <h1>All Users</h1>
    <ul>
      <% users.forEach(user => { %> <% if(String(user._id) !==
      String(currentUser._id)) { %>
      <li>
        <div class="userInfo">
          <img
            src="<%= user.profilePicture %>"
            class="userImage"
            alt="User's Profile Picture"
          />
          <p class="username">@<%= user.username %></p>
          <p class="name"><%= user.name %></p>
        </div>

        <% if (user.met) { %>
        <form action="/markUnmet" method="post">
          <input type="hidden" name="userId" value="<%= user._id %>" />
          <button type="submit">Mark as Unmet</button>
        </form>
        <% } else { %>
        <form action="/markMet" method="post">
          <input type="hidden" name="userId" value="<%= user._id %>" />
          <button type="submit">Mark as Met</button>
        </form>
        <% } %>
      </li>
      <% } %> <% }) %>
    </ul>
  </body>
</html>
