<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title><%= user.name %>'s Profile</title>

    <!-- Stylesheets -->
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/userProfile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="with-background">
    <!-- Header -->
    <%- include('partials/header') %>

    <div class="cards">
        <div class="user-card">
            <!-- User Image -->
            <img class="profile-pic" src="<%= user.profilePicture %>" alt="<%= user.name %>'s Profile Picture" />
            
            <!-- User Name -->
            <h2 class="username"><%= user.name %></h2>

            <!-- Social Media Links -->
            <div class="social-media-section">
                <div class="social-media-icons">
                    <% if(user.socialMedia.facebook) { %>
                        <a href="<%= user.socialMedia.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <% } %>
                    <% if(user.socialMedia.twitter) { %>
                        <a href="<%= user.socialMedia.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a>
                    <% } %>
                    <% if(user.socialMedia.instagram) { %>
                        <a href="<%= user.socialMedia.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a>
                    <% } %>
                    <% if(user.socialMedia.linkedin) { %>
                        <a href="<%= user.socialMedia.linkedin %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <% } %>
                    <% if(user.socialMedia.github) { %>
                        <a href="<%= user.socialMedia.github %>" target="_blank"><i class="fab fa-github"></i></a>
                    <% } %>
                    <% if(user.socialMedia.website) { %>
                        <a href="<%= user.socialMedia.website %>" target="_blank"><i class="fas fa-globe"></i></a>
                    <% } %>
                </div>
            </div>

            <!-- Edit Profile Link -->
            <% if(currentUser && currentUser == user.username) { %>
                <div class="edit-profile">
                    <a href="/user/preferences" class="button">Edit Profile</a>
                </div>
            <% } %>

            <!-- User Bio -->
            <div class="detail-section bio">
                <h3>Bio</h3>
                <p class="bio detail-list"> <%= user.personalBio %></p>
            </div>

            <!-- Interests -->
            <div class="detail-section interests">
                <h3>Interests</h3>
                <div class="detail-list">
                    <% user.interests.forEach((interest, index) => { %>
                        <%= interest %><%= index !== user.interests.length - 1 ? ', ' : '' %>
                    <% }); %>
                </div>
            </div>

            <!-- Roles -->
            <div class="detail-section roles">
                <h3>Roles</h3>
                <div class="detail-list">
                    <% user.roles.forEach((role, index) => { %>
                        <%= role %><%= index !== user.roles.length - 1 ? ', ' : '' %>
                    <% }); %>
                </div>
            </div>

            <!-- Skills -->
            <div class="detail-section skills">
                <h3>Skills</h3>
                <div class="detail-list">
                    <% user.skills.forEach((skill, index) => { %>
                        <%= skill %><%= index !== user.skills.length - 1 ? ', ' : '' %>
                    <% }); %>
                </div>
            </div>

            <!-- Languages Spoken -->
            <div class="detail-section languages">
                <h3>Languages Spoken</h3>
                <div class="language-flags">
                    <% user.languagesSpoken.forEach((language) => { %>
                        <span class="language-flag">
                            <%= languageToFlag[language] %>
                        </span>
                    <% }); %>
                </div>
            </div>

            <!-- Contact Information -->
            <div class="contact-section">
                <h3>Contact Information</h3>
                <p>Email: <a href="mailto:<%= user.contactMethods.email %>"><%= user.contactMethods.email %></a></p>
                <p>Phone: <a href="tel:<%= user.contactMethods.phone %>"><%= user.contactMethods.phone %></a></p>
            </div>
        </div>
    </div>

    <!-- Toggle Details Script -->
    <script>
        function toggleDetails(element) {
            const detailList = element.nextElementSibling;
            if (detailList.style.display === "none" || detailList.style.display === "") {
                detailList.style.display = "block";
            } else {
                detailList.style.display = "none";
            }
        }
    </script>
</body>

</html>
