<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommended Users</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/recommendedUsers.css" />
  </head>
  <body class="with-background">
    <%- include('partials/header') %>
    <h1>Recommended Users to Meet</h1>
    <div class="cards">
      <% users.forEach(user => { %>
        <div class="user-card">
          <img class="profile-pic" src="<%= user.profilePicture %>" alt="User's Profile Picture" />
          <h2 class="username">@<%= user.name %></h2>
          <div class="similarity-score">
            <label for="similarity">Similarity: <%= user.similarityScore.toFixed(2) %> %</label>
            <meter id="similarity" value="<%= user.similarityScore %>" min="0" max="100"></meter>
          </div>
          <p class="interests">
            Shared Interests: 
            <% user.interests.forEach((interest, index) => { %> 
              <%= interest %><%= index !== user.interests.length - 1 ? ',' : '' %> 
            <% }); %>
          </p>
          <!-- Include other user details as required -->
        </div>
      <% }); %>
    </div>
  </body>
</html>
