<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Users</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/recommendedUsers.css">

</head>
<body>
    <%- include('partials/header') %>
    <h1>Recommended Users to Meet</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <div class="userInfo">
                    <img src="<%= user.profilePicture %>" alt="User's Profile Picture">
                    <p class="username">@<%= user.username %></p>
                    <p class="interests">
                        Shared Interests: 
                        <% user.interests.forEach((interest, index) => { %>
                            <%= interest %><%= index !== user.interests.length - 1 ? ',' : '' %> 
                        <% }); %>
                    </p>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
